.settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .settings .tabs {
        flex: 1;
        width: 100%;
    }

    .settings .actions {
        flex: 0;
        width: 100%;
    }

::deep .mud-tabs-panels {
    overflow: hidden;
}
