@typeparam TSettings
@inject IOptionsMonitor<UISettings> UISettings;
@inject IJSRuntime JSRuntime;
@inject MonacoProvidersService MonacoProvidersService;

@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages

<div class="pa-2 editorParent" style="height: 100%; width: 100%">
    @if (_loaded) // Workaround for BlazorMonaco rendering issue, must give it time to load
    {
        <StandaloneCodeEditor @ref="_editor" CssClass="editor" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnEditorInitialized" />
    }
</div>
